.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  font-size: 3rem;
  color: blue;
}
.blogs {
  width: 100%;
}

.items {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 50%;
}

.item {
  padding: 20px;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 16px;
}
.item:hover {
  background-color: rgb(199, 199, 199);
}

.addNewBlog {
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 16px;
  background-color: green;
  margin: 1rem 0;
  font-size: 1.1rem;
}
.noBlogs {
  text-align: center;
  font-size: 1.2rem;
}
