.back {
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 16px;
  background-color: green;
  margin: 1rem 0;
  font-size: 1.1rem;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.form input {
  padding: 16px;
  border-radius: 16px;
  font-size: 1.1rem;
  border: 1px solid blue;
}
.form button {
  background-color: blue;
  padding: 16px;
  font-size: 1.2rem;
  color: white;
  border-radius: 16px;
}

.form button:disabled {
  background-color: grey;
  cursor: not-allowed;
  
}